



.navbar-container{
  .wrapper-navbar-container{
    width: 100%;
    display: flex;
    background-color: #333;
    color: #fff;
    height: 40px;
    align-items: center;
    letter-spacing: .54px;
  }

}

.columns.is__centered
{
  margin: 0 auto;
}

.banner--sale {
  width: 100%;
  height: auto;
  max-width: 70%;
  margin: 0 auto;
}
